<p-tabView>
  
  <p-tabPanel header="Formulário">
    <div class="containerRows">
      <div>
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText [(ngModel)]="title" />
          <label for="float-input">Title Page Teste PrimeNG</label>
        </span>
      </div>
      <div>
        <button
          pButton
          type="button"
          label="Uppercase"
          (click)="toUpper()"
        ></button>
      </div>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Resultado">
    <p>{{ titleResult }}</p>
  </p-tabPanel>

</p-tabView>
