<div class="p-grid">
  <div class="p-col-12">
    <h1>Lançamentos</h1>
  </div>

  <div class="p-col-12 p-fluid">
    <label>Descrição</label>
    <input pInputText type="text" />
  </div>

  <div class="p-col-12">
    <label>Vencimento</label>
    <input pInputText type="text" class="input-date" />
    <label style="display: inline"> até </label>
    <input pInputText type="text" class="input-date" />
  </div>

  <div class="p-col-12">
    <button pButton type="button" label="Pesquisar"></button>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12">
    <p-table [value]="lancamentos" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Pessoa</th>
          <th>Descrição</th>
          <th class="col-data-header">Vencimento</th>
          <th class="col-data-header">Pagamento</th>
          <th style="text-align: right; width: 100px;">Valor</th>
          <th style="width: 90px;" colspan="2"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lancamento>
        <tr>
          <td>{{ lancamento.pessoa }}</td>
          <td>{{ lancamento.descricao }}</td>
          <td class="col-data-content">{{ lancamento.dataVencimento }}</td>
          <td class="col-data-content">{{ lancamento.dataPagamento }}</td>
          <td style="text-align: right;" [ngStyle]="{color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}">
            {{lancamento.valor}}
          </td>
          <td style="padding: 0; text-align: center;">
            <a pButton icon="pi pi-pencil" style="height: 30px; width: 30px;"></a>
          </td>
          <td style="padding: 0; text-align: center;">
            <button pButton icon="pi pi-trash" style="height: 30px; width: 30px;"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="ui-g-12">
  <a pButton label="Novo lançamento"></a>
</div>
