/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #404c51;
  font-size: 1rem;
}

.containerApp {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.bodyApp {
  max-width: 1400px;
}

label {
  font-weight: bold;
  display: block;
}

.input-date {
  width: 100px;
}

input {
  height: 25px;
}

button {
  height: 25px;
}

.col-valor-header {
  width: 120px;
}

.col-valor-content {
  text-align: right;
}

.col-data-header {
  width: 120px;
}

.col-data-content {
  text-align: center;
}
